# Environment
.env
*.env

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
